.main-body{
  /* UI color gradients website nunchi css code copy cheskunnam */
background: #0052D4;  
background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  
background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); 
height:100vh;
}
.todolist-body{
  background-color: azure;
  height: 650px;
  width: 500px;
}
#addbtn{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.todo-inputdiv{
  display:flex;
  justify-content: center; /* horizontal center  */
  align-items: center; /* vertical center  */
  column-gap: 20px;
  padding: 10px;
}
.task-list{ 
  width:95%;
  margin: auto;
  list-style: none; /* unordered list dots . pothayi */ 
  padding: 0px;
  display: flex;
  flex-direction: column; /*By default ga row untadhi side by side oddhu up and down kavali ani antunnam */
  row-gap: 15px;  /* elements up and down untey row gap use chyali,side by side untey col gap use cheyyali */
}
.task-list li{
  margin:0px;
}
.task-btns{
  display: flex; /* display:flex isteney col-gap or row-gap use chytaniki avtadhi */
  column-gap:10px ;
}
